---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/sources
    body:
      encoding: UTF-8
      string: type=sofort&amount=995&currency=eur&owner[email]=john.snow%40thewall.com&owner[name]=Dick+Grayson&metadata[order_id]=R313449283&redirect[return_url]=http%3A%2F%2Flocalhost%3A3000%2Freturn&sofort[country]=DE&statement_descriptor=Spree+Order+ID%3A+
    headers:
      Authorization:
      - Bearer sk_test_AsrDm8kqu1cwROiD53jbVaXq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "src_1B45owBxRuikat2VMLUj1qld",
          "object": "source",
          "amount": 995,
          "client_secret": "src_client_secret_BQxkjd7S8VgPFpV2IX3DF3Pb",
          "created": 1505904766,
          "currency": "eur",
          "flow": "redirect",
          "livemode": false,
          "metadata": {
            "order_id": "R313449283"
          },
          "owner": {
            "address": null,
            "email": "john.snow@thewall.com",
            "name": "Dick Grayson",
            "phone": null,
            "verified_address": null,
            "verified_email": null,
            "verified_name": null,
            "verified_phone": null
          },
          "redirect": {
            "return_url": "http://localhost:3000/return",
            "status": "pending",
            "url": "https://hooks.stripe.com/redirect/authenticate/src_1B45owBxRuikat2VMLUj1qld?client_secret=src_client_secret_BQxkjd7S8VgPFpV2IX3DF3Pb"
          },
          "statement_descriptor": "Spree Order ID: ",
          "status": "pending",
          "type": "sofort",
          "usage": "single_use",
          "sofort": {
            "country": "DE",
            "bank_code": null,
            "bic": null,
            "bank_name": null,
            "iban_last4": null,
            "statement_descriptor": null,
            "preferred_language": null
          }
        }
  recorded_at: Wed, 20 Sep 2017 10:52:45 GMT
recorded_with: VCR 3.0.3
