---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/sources
    body:
      encoding: UTF-8
      string: type=sofort&amount=885&currency=eur&owner[email]=john.snow%40thewall.com&owner[name]=Dick+Grayson&metadata[order_id]=R618120936&redirect[return_url]=http%3A%2F%2Flocalhost%3A3000%2Freturn&sofort[country]=DE&statement_descriptor=Spree+Order+ID%3A+
    headers:
      Authorization:
      - Bearer sk_test_AsrDm8kqu1cwROiD53jbVaXq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "src_1B479ZBxRuikat2VCuPWkVuY",
          "object": "source",
          "amount": 885,
          "client_secret": "src_client_secret_BQz7NUAjcACZEczpcDXD8Vve",
          "created": 1505909889,
          "currency": "eur",
          "flow": "redirect",
          "livemode": false,
          "metadata": {
            "order_id": "R618120936"
          },
          "owner": {
            "address": null,
            "email": "john.snow@thewall.com",
            "name": "Dick Grayson",
            "phone": null,
            "verified_address": null,
            "verified_email": null,
            "verified_name": null,
            "verified_phone": null
          },
          "redirect": {
            "return_url": "http://localhost:3000/return",
            "status": "pending",
            "url": "https://hooks.stripe.com/redirect/authenticate/src_1B479ZBxRuikat2VCuPWkVuY?client_secret=src_client_secret_BQz7NUAjcACZEczpcDXD8Vve"
          },
          "statement_descriptor": "Spree Order ID: ",
          "status": "pending",
          "type": "sofort",
          "usage": "single_use",
          "sofort": {
            "country": "DE",
            "bank_code": null,
            "bic": null,
            "bank_name": null,
            "iban_last4": null,
            "statement_descriptor": null,
            "preferred_language": null
          }
        }
  recorded_at: Wed, 20 Sep 2017 12:18:09 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=885&currency=eur&source=src_1B479oBxRuikat2V7Lw5g6qA
    headers:
      Authorization:
      - Bearer sk_test_AsrDm8kqu1cwROiD53jbVaXq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_1B47AJBxRuikat2VOL91NAQB",
          "object": "charge",
          "amount": 885,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": null,
          "captured": true,
          "created": 1505909935,
          "currency": "eur",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "not_assessed",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": false,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/py_1B47AJBxRuikat2VOL91NAQB/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "src_1B479oBxRuikat2V7Lw5g6qA",
            "object": "source",
            "amount": 885,
            "client_secret": "src_client_secret_BQz8RfCMqNUYl8Ehufxeprol",
            "created": 1505909935,
            "currency": "eur",
            "flow": "redirect",
            "livemode": false,
            "metadata": {
              "order_id": "R618120936"
            },
            "owner": {
              "address": null,
              "email": "john.snow@thewall.com",
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=885&currency=eur&source=src_1B479oBxRuikat2V7Lw5g6qA
    headers:
      Authorization:
      - Bearer sk_test_AsrDm8kqu1cwROiD53jbVaXq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "The source you provided is not in a chargeable state."
          }
        }
  recorded_at: Wed, 20 Sep 2017 12:18:59 GMT
recorded_with: VCR 3.0.3
