---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/sources/src_1B4AtTBxRuikat2Vie9Pd6eP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_AsrDm8kqu1cwROiD53jbVaXq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "src_1B4AtTBxRuikat2Vie9Pd6eP",
          "object": "source",
          "amount": 2895,
          "client_secret": "src_client_secret_BR2z2eSovheazQRbkPuBlCL2",
          "created": 1505924267,
          "currency": "eur",
          "flow": "redirect",
          "livemode": false,
          "metadata": {
            "order_id": "R346602670"
          },
          "owner": {
            "address": null,
            "email": "admin@example.com",
            "name": "succeeding_charge",
            "phone": null,
            "verified_address": null,
            "verified_email": null,
            "verified_name": "Jenny Rosen",
            "verified_phone": null
          },
          "redirect": {
            "return_url": "http://localhost:3000/returns/R346602670",
            "status": "succeeded",
            "url": "https://hooks.stripe.com/redirect/authenticate/src_1B4AtTBxRuikat2Vie9Pd6eP?client_secret=src_client_secret_BR2z2eSovheazQRbkPuBlCL2"
          },
          "statement_descriptor": "Spree Order ID: R346602670-KRXCF2YM",
          "status": "consumed",
          "type": "sofort",
          "usage": "single_use",
          "sofort": {
            "country": "DE",
            "bank_code": "DEUT",
            "bank_name": "Deutsche Bank",
            "bic": "DEUTDE2H",
            "iban_last4": "4567",
            "statement_descriptor": null,
            "preferred_language": null
          }
        }
  recorded_at: Thu, 21 Sep 2017 12:13:48 GMT
recorded_with: VCR 3.0.3
